<div id="__editor__">
  <link href="/assets/editor.css" media="all" rel="stylesheet" type="text/css">
  <h3>editing <%= @path %>...</h3>

  <%= form_tag save_editor_path, :remote => true, :id => HocusPocus::Editor::EDITOR do %>
    <%= hidden_field_tag :path, @path %>
    <%= text_area_tag :file, @file, :size => '100x30' %>
    <div id="actions">
      <%= button_to_function 'Hide', "$('#__editor__').hide()", :class => "hide" %>
      <%= submit_tag 'Save!', :class => "save" %>
    </div>
  <% end %>

</div>
